* {
    list-style-type: none;
    text-decoration: none;
}

.container-nav {
    background-color: rgb(116, 113, 113);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(8, 1fr);
    position: sticky;
    top: 0;
}

.nav-logo {
    /* border: solid 5px; */
    grid-row: 2/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "myFont1";
}

.nav-logo {
    font-size: 3em;
    color: orange
}


.nav-menu {
    grid-column: 6/8;
    grid-row: 2/4;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.linkbut {
    transition: 0.7s ease;
}

.nav-menu li a {
    color: rgb(22, 21, 21);

}

.hamburger-container {
    grid-column: 6/8;
    grid-row: 2/4;
}

.hamburger {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hamburger span {
    display: block;
    width: 22px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
}

.snack-bar {
    display: flex;
    justify-content: center;
    background-color: indigo;
    margin-top: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: "myFont1";
    font-style: italic;
}


.container-top {
    display: grid;
    /* border: solid 5px; */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
}

.container-top1 {
    grid-row: 1/2;
    grid-column: 1/5;
    padding-top: 80px;
    margin-left: 20px;
}

.aside {
    grid-row: 1/2;
    grid-column: 5;
    margin: 40px 0px 0px 40px;
    background-color: bisque;
    border-radius: 10px;
    padding: 0px 24px 0px 24px;

}

.aside .news-trending {
    font-family: "myFont1";
    text-shadow: 0px 0px 3px black;
    text-align: center;
}

.container-upper1 {
    width: 100%;
    display: block;
}

.container-recipe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: 320px 320px;
}

.container-recipe img {
    object-fit: cover;
}

.original-recipe {
    display: flex;
    place-content: center;

}

.oc-card1{
    grid-column: 1;
    grid-row: 1 / 2 span;
    background-position: center;
    box-shadow: 5px 5px 5px;
    filter: grayscale(100%);
}

.oc-card2{
    grid-column: 2;
    grid-row: 1 ;
    box-shadow: 5px 5px 5px;
    filter: grayscale(100%);
}

.oc-card3{
    grid-column: 3;
    grid-row: 1;
    box-shadow: 5px 5px 5px;
    filter: grayscale(100%);
}

.oc-card4{
    grid-column: 4;
    grid-row: 1;
    box-shadow: 5px 5px 5px;
    filter: grayscale(100%);
}

.oc-card5{
    grid-column: 2;
    grid-row: 2;
    box-shadow: 5px 5px 5px;
    filter: grayscale(100%);
}

.oc-card6{
    grid-column: 3;
    grid-row: 2;
    box-shadow: 5px 5px 5px;
    filter: grayscale(100%);
}

.register-container {
    background-color:darkkhaki;
    border: solid 2px;
}



