/* * {
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
}

.container-nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(116, 113, 113);
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 4px 0px grey;
}

.nav-logo {
    font-size: 3em;
    color: orange
}

.nav-menu {
    font-family: monospace;
    font-size: 1.2em;
    display: flex;
    width: 40%;
    justify-content: space-between;

}

.linkbut {
    transition: 0.7s ease;
}

.nav-menu li a {
    color: rgb(22, 21, 21);

}

.nav-menu li a:hover {
    color: rgb(255, 183, 49);
}

/* diatas adalah navigasi bar */

/* dibawah adalah Toogle Menu */

/* .hamburger {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    align-items: center;
}

.hamburger span {
    display: block;
    width: 22px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
}

.snack-bar {
    display: flex;
    justify-content: center;
    background-color: indigo;
    margin-top: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
}

/* ---------- */

/* .container-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}

.container-top .top1 {
    margin-top: 20px;
}

.container-top .news-trending {
    margin-top: 50px;
}

.container-top .top2 {
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    display: flex;
    background-color: bisque;
    height: auto;
    border-radius: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: width 1s;

}

.top2:hover {
    width: 100%;

}
.container-top .top2:hover {
    color: aqua;
    transition: 0.7 ease;
}

.container-top .top2 .news1 {
    width: 25%;
    margin-left: 20px;
}

.container-top .top2 .news1 a:hover {
    color: orange;
    transition:0.7s ease;
    cursor: pointer;
}

.container-top .top2 .news2 {
    width: 25%;
    
}

.container-top .top2 .news2 a:hover {
    color: orange;
    transition:0.7s ease;
}

.container-top .top2 .news3{
    width: 25%;
}

.container-top .top2 .news3 a:hover {
    color: orange;
    transition:0.7s ease;
} */ */



/* ----------- */



/* .original-recipe {
    display: flex;
    justify-content: center;
    margin: 24px 0px 12px;
    text-shadow: 0px 2px 2px black;
}

.container-recipe {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    gap: 20px;
    padding: 5px;
}

.container-recipe .oc-card {
    width: 25%;
    transition: width 2s ease;
    filter: grayscale(100%);
}

.oc-card:hover {
    width: 35%;
    filter: grayscale(0%);

    
} */

/* .container-top1 body {
    background-color: rgba(73, 72, 69, 0.873);
    height: 1000vh;
} */ 

/* responsive display */

/* @media (max-width: 568px) {
    .nav-menu {
        display: none;
    }

}

@media (min-width: 568px) {
    .nav-menu li {
        width: 100%;
        display: ;
    }

    .hamburger {
        display: none;
    }
} */

/* -- */

/* .form-daftar {
    display: block;
    align-items: center;
    margin:40px 40px 0px 40px;
    width: 50%;
    height: auto;
    background-color: bisque;

} */

/* .register-container {
    display: flex;
    justify-content: center;
    margin: 36px 0px 36px 0px;
    background-color: rgb(27, 27, 24);
}

.register-container fieldset {}

form {
    color: white;
} */


/* @media (max-width: 786px){
    .form-daftar {
    ;
    }
}
     */ 