
@media (max-width: 568px) {
    .nav-menu {
        display: none;
        padding: 0;
    }

    .container-top1 {
        width: 130% ;
        margin: 0px 0px 0px 33px;
        display: flex;
        justify-content: center;
    }

    .container-top .aside {
        grid-row: 2/3 ;
        grid-column: 1/7;
    }

    .aside .news-trending {
        text-align: center;

    }

    .aside .top2 {
        display: flex;
        justify-content: space-around;
    }

    .aside {
        padding-left: ;
    }

    .aside .top2 .news1 {
        max-width: 25% ;
    }

    .aside .top2 .news2 {
        max-width: 25% ;
    }

    .aside .top2 .news3 {
        max-width: 25% ;
    }

}

@media (min-width: 569px) {
    .hamburger-container {
        display: none;
    }

}
    


